
@{
    ViewBag.Title = "SISVEC";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <title>SISVEC</title>

</head>

<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">SISVEC</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Inicio</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li><a href="#">Page 2</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>Sistema de Estacionamento Rotativo de Veiculo</h1>
        <p>Aqui seu veiculo esta seguro</p>
    </div>
    <center>
        <h2> As Novas Tecnologia: vantagens e desvantagens </h2>
    </center>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Estacionamento 01</h3>
                <p>Não se pode esperar que o computador faça tudo sozinho. Ele fornece-nos informações e recursos, cabendo ao professor planear a aplicação dos mesmos na sala de aula. A pressão constante em relação ao uso da informática torna-se cada vez mais evidente em todas as áreas e isso não é diferente na educação. A todo momento os professores sentem que quem não for capaz de usar a informática como instrumento de ensino-aprendizagem está fora do contexto do mercado de trabalho actual. É peremptório mudar este estado de coisas. </p>
                <p>A evolução das tecnologias de informação e da comunicação impõe uma redefinição do espaço de trabalho. Hoje é mais rápido enviar um e-mail do que uma carta por correio. Cada vez menos será o trabalhador a deslocar-se ao trabalho, e cada vez mais será o trabalho que virá até ao trabalhador. Trabalhar a partir de casa parece ser cada vez mais a hipótese acertada numa altura em que a flexibilidade se tornou num dos assuntos na ordem do dia. O mundo assiste hoje à integração e à implementação de novos meios que permitem uma maior rapidez e eficácia na troca de informação.</p>
            </div>
            <div class="col-sm-4">
                <h3>Estacionamento 02</h3>
                <p>O acesso a redes dentro e fora das empresas, a videoconferência em rede local, a utilização partilhada de documentos em tempo real e a redistribuição de chamadas telefónicas são alguns exemplos destas novas tecnologias.</p>
                <p>As novas tecnologias de comunicação trouxeram enormes vantagens aos mais diversos sectores da sociedade. Podemos verificar o quanto ajudou no processo de recuperação da informação através das bases bibliográficas em CD-ROM e on-line, como também na obtenção do próprio conteúdo desejado. Os periódicos electrónicos retratam uma parcela desse avanço tecnológico, apresentando vantagens e desvantagens tanto na sua forma “física” como nas bases que os disponibilizam. O objectivo desta apresentação é relatar as nossas experiências e considerações sobre essa nova modalidade de publicação.</p>
            </div>
            <div class="col-sm-4">
                <h3>Estacionamento 03</h3>
                <p>Hoje existem diversos “sites” na Internet que disponibilizam periódicos electrónicos. Neste cenário, encontramos uma grande variedade de interfaces, que, por vezes, comprometem os resultados das pesquisas, uma vez que as dificuldades encontradas pelos usuários para realizar uma pesquisa bibliográfica são elementos desenregelantes e geradores de buscas ineficientes ou mesmo incorrectas. É compreensível que vários factores concorram para que haja tamanha diversidade e mesmo mudança de interface nos sites de busca bibliográfica, pois nessa era globalizada em que estamos inseridos, tudo parece mudar muito rapidamente. A própria Internet aparece como factor desencadeante principal de tantas mudanças, onde se percebe quase que uma “anarquia controlada”. Os sites acompanham as tendências tanto de design como de objectivos específicos.</p>
                <p>UÉ preciso que os profissionais da informação estejam atentos às constantes mudanças que se operam neste campo em constante actualização.</p>
            </div>
        </div>

    </div>
</body>
</html>

