@model TrabalhoIHC_MarcosFilho.Controllers.HomeController
@{
    ViewBag.Title = "SISVEC";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
     body {
   background-image: url("http://www.shoppingbougainville.com/img/estacionamento.jpg");
   background-color: #cccccc;
   background-size: cover
}
    </style>

      
</head>

<body>  
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="color:#008B00" class="navbar-brand" href="/Home/Sisvec">SISVEC</a>                
            </div>
            <ul class="nav navbar-nav">                
                <li><a style="color:#8968CD" href="/Informacoes/Index">CONTATO/SOBRE NÓS</a></li> 
            </ul>

                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="BUSCAR">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
        </div>
    </nav><br><br><br><br><br>

    <div class="container">
        <center>
            <div class="container-fluid">
                <div class="banner">
                    <div class="description">

                        <h2>SISVEC</h2>
                        <h3>Sistema de Estacionamento de Veículos</h3>

                       
                            <div class="btn-group-lg">
                                <button class="btn btn-danger">SEJAM BEM VINDOS AO SISVEC</button>
                            </div>

                            <div>
                                <h3>Aqui seu veículo esta seguro</h3>
                            </div>
                    </div>
                </div>
            </div><br><br><br><br><br>
        </center>

        <div class=" ">   <!-- log in -->
            <form class="access" method="post"
                  action="/login">
                <center>
                <div class="heading">
                    

                    <h6 class="slogan">Sistema de Estacionamento de Veículos</h6>
                </div>
                    </center>
                <div class="inputs">
                    <center>
                    <div class="form-group relative">
                        <i class="fa fa-envelope-o prefix"></i>
                        <input name="usuario" type="text" class="validate form-control"
                               value="" placeholder="E-mail">

                    </div><br>
                    <div class="form-group relative">
                        <i class="fa fa-user prefix"></i>
                        <input type="password" name="senha" class="validate form-control" placeholder="Senha">
                    </div><br>
                        </center>

                    <div class="options">
                        <a href="/login/esqueci-minha-senha"
                           class="pull-right" data-toggle="modal" data-target="#forgot">Esqueci minha senha</a>
                        <a href="/adesao/cadastro"
                           class="pull-left">Criar uma nova conta</a><br>
                    </div><br>

                    <button type="button" class="btn btn-primary btn-block" onclick="location.href='@Url.Action("Inicio","Home")'">Entrar</button><br>
                    <center>
                    <div class="more">
                        Deseja fazer adesão do Sistema de Estacionamento de Veículos? <a href="/adesao">Inscreva-se já</a>
                    </div>
                        </center>
                </div>
            </form>
           
        </div>
    </div>
</body>

<div>
    <hr>
    <footer>
        <center>
            <p>&copy; 2017 - Todos os Direitos Reservados | Desenvolvimento: JMDBI - Versão 1.0</p>
        </center>
    </footer>
</div>

</html>

