@model TrabalhoIHC_MarcosFilho.Controllers.HomeController
@{
    ViewBag.Title = "Sobre Nós";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <title>SISVEC</title>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
    </style>

</head>


<body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Sisvec">Voltar</a>
            </div>
        </div>
    </nav>
            

            <h2>Index</h2>
            <div>
                <p>
                    Em áreas comerciais de grandes cidades, é comum haver regulamentação de estacionamento rotativo junto ao meio-fio.

                    Isso ocorre quando a demanda por vagas para estacionar na rua é muito grande. É uma maneira de permitir que todo mundo encontre um local para deixar seu veículo nessa área.

                    Embora muitos encarem a regulamentação e a cobrança de vagas para estacionar na via pública como um transtorno a mais, na realidade, ela tem seus benefícios.
                </p>
            </div>
           
</body>
</html>
