@model TrabalhoIHC_MarcosFilho.Controllers.HomeController
@{
    ViewBag.Title = "Sobre Nós";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <title>SISVEC</title>
    <style>
    </style>

</head>


<body>
    

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="color:#008B00" class="navbar-brand" href="/Home/Sisvec">SISVEC</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a style="color:#FF0000" class="navbar-brand" href="/Home/Inicio">INICIO</a></li>
                <li><a style="color:#8968CD" href="/Informacoes/Index">CONTATO/SOBRE NÓS</a></li>
        </div>
    </nav>


    <h1 align="center"> Um pouco sobre nós</h1>
    <div>

        <img width="600px" height="400px" src="https://doutormultas.com.br/wp-content/uploads/2017/10/estacionamento-rotativo.jpg" class="img-responsive" style="margin: auto"/>
        <p align="center">
           
            Em áreas comerciais de grandes cidades, é comum haver regulamentação de estacionamento rotativo junto ao meio-fio.

            Isso ocorre quando a demanda por vagas para estacionar na rua é muito grande. É uma maneira de permitir que todo mundo encontre um local para deixar seu veículo nessa área.
          
        </p>
        <p align="center">

            Embora muitos encarem a regulamentação e a cobrança de vagas para estacionar na via pública como um transtorno a mais, na realidade, ela tem seus benefícios. Imagine que você precisa comprar um medicamento e apenas uma farmácia do seu bairro ou cidade o possui. Ela não possui estacionamento privativo.

            Você pega o seu carro, passa na frente da farmácia e não encontra nenhum local para deixar o automóvel.

            Essa cena é comum até mesmo em locais em que há estacionamento rotativo, é claro.

            Mas seria ainda pior se não existisse, porque, como o nome já dá a entender, ele incentiva a rotatividade de veículos no local.
        </p>

        <h2 align="center"> O Que é Estacionamento Rotativo? </h2>

        <img width="600px" height="400px" src="https://doutormultas.com.br/wp-content/uploads/2017/10/estacionamento-rotativo-o-que-e.jpg" class="img-responsive" style="margin: auto" />
        <p align="center">

         <p align="center">O estacionamento rotativo, também conhecido como <b>zona azul </b>, é um sistema que impõe algumas regras para o estacionamento de veículos na via pública, alinhados ao meio-fio da calçada. Geralmente, tais regras envolvem o pagamento de um pequeno valor para que o veículo possa ficar estacionado e um limite de tempo. O Contran não exige que seja necessário pagar para deixar o veículo em uma área de estacionamento rotativo – trata-se de uma opção do órgão que cria as regras para o local. </p>

        <p align="center"> A <b>ideia principal</b>, afinal de contas, não é arrecadar dinheiro com o estacionamento pago, mas sim impedir que um veículo ocupe uma vaga por um longo período. Por conta disso, a principal regra da regulamentação do estacionamento rotativo é o limite de tempo que cada um pode ficar. Quando o tempo expira, o motorista deve retirar o veículo, gerando uma nova vaga para quem também precisa cumprir seus afazeres.</p>

        <h2 align="center"> Como Funciona o Estacionamento Rotativo</h2>

        <img width="600px" height="400px" src="https://doutormultas.com.br/wp-content/uploads/2017/10/estacionamento-rotativo-como-funciona.jpg" class="img-responsive" style="margin: auto" />
        <p align="center">

            <p align="center"> A circulação, estacionamento e parada de veículos nas vias públicas brasileiras devem respeitar várias regras que constam na legislação federal. Como cada município brasileiro tem as suas características quanto à frota e planejamento da mobilidade urbana, eles são livres para estabelecer os detalhes do sistema de estacionamento rotativo de suas vias. Muitas cidades não possuem esse sistema porque seus governantes não julgam necessária a sua implantação. Geralmente, são municípios que não têm grandes problemas com o trânsito. Nas cidades em que existe o estacionamento rotativo, ele é restrito a alguns locais estratégicos.</p>
    </div>
</body>
<hr>
<footer>
    <center>
        <p>&copy; 2017 - Todos os direitos reservados | Desenvolvimento: JMDBI</p>
    </center>
</footer>
</html>
