
@{
    ViewBag.Title = "Cadastro Diário";
    Layout = "~/Views/shared/_layout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <title>SISVEC</title>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="color:#008B00" class="navbar-brand" href="/Home/Sisvec">SISVEC</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a style="color:#FF0000" class="navbar-brand" href="/Home/Inicio">INICIO</a></li>
                <li><a style="color:#7CFC00" href="/Cadastro/Index">CADASTRO DIÁRIO</a></li>
            </ul>

            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="BUSCAR">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            
        </div>
    </nav>

    <div class="row">
        <div class="col-md-6 col-md-offset-5">
            <h2>CADASTRO DIÁRIO</h2><br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <label class="sr-only-focusable">Nome Condutor:</label>
            <input type="text" class="form-control" placeholder="Nome Condutor:" autofocus />
        </div>
        <div class="col-md-5 col-md-offset-3">
            <label class="sr-only-focusable">Placa Veículo:</label>
            <input type="text" class="form-control" placeholder="Placa Veículo:" autofocus />
        </div>
        <div class="col-md-5 col-md-offset-3">
            <label class="sr-only-focusable">Ano Veículo:</label>
            <input type="text" class="form-control" placeholder="Ano Veículo:" autofocus />
        </div>
        <div class="col-md-5 col-md-offset-3">
            <label class="sr-only-focusable">Cor Veículo:</label>
            <input type="text" class="form-control" placeholder="Cor Veículo:" autofocus />
        </div>
        <div class="col-md-5 col-md-offset-3">
            <label class="sr-only-focusable">Modelo Veículo:</label>
            <input type="text" class="form-control" placeholder="Modelo Veículo:" autofocus />
        </div><p></p>
        <div class="col-md-5 col-md-offset-3">
            <label class="sr-only-focusable">Vaga do Veículo:</label>
            <input type="text" class="form-control" placeholder="Vaga do Veículo:" autofocus />
        </div><p></p><br />

        <div class="btn-group-lg">                       
            <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index","Cadastro")'">SALVAR INFORMAÇÕES</button>
        </div><p></p><br />
        <div class="btn-group-lg">
            <button class="btn btn-default" type="button"onclick="location.href='@Url.Action("Inicio","Home")'">CANCELAR</button>            
        </div><P></P><br />
        <div class="btn-group-lg">
            <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Inicio","Home")'">FINALIZAR CADASTRO</button>
        </div><P></P><br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
                
    </div>
    <hr>
    <footer>
        <center>
            <p>&copy; 2017 - Todos os Direitos Reservados | Desenvolvimento: JMDBI - Versão 1.0</p>
        </center>
    </footer>
    
</body>
</html>

